<h2>Update {{drone.name}}</h2>

<p>Propellers: {{drone.propellers}}</p>

<p>Max Speed: {{drone.maxSpeed}}</p>


<div id="update-buttons">

    <form action="/drones/{{drone._id}}/edit" method="GET">
        <button type="submit" class="form-button">EDIT</button>
    </form>

    <form action="/drones/{{drone._id}}/delete" method="POST">
        <button type="delete" class="form-button">DELETE</button>
    </form>
</div>
